.add-user-form{
    display: flex;
    flex-direction: column;
    padding: 10px;

// border: 1px solid black;
// align-items: center
// justify-content: space-around;

input {
        height: 20px;
        margin-bottom: 15px;
      }

      .submit-add-user-form {
        cursor: pointer;
        color: #090909;
        padding: 0.3em 0.7em;
        font-size: 15px;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
       }
       
       .submit-add-user-form:hover {
        border: 1px solid white;
       }
       
       .submit-add-user-form:active {
        box-shadow: 4px 4px 12px #c5c5c5,
                    -4px -4px 12px #ffffff;
       }
}