.user-profile{
    // display: flex;
    
    // flex-direction: column;
    border-radius: 8px;
    margin: 7px auto;    
    width: 95%;
    // border: 1px solid rgb(172, 177, 177);
    .form-input-label{
        font-size: 15px;
        font-weight: 600;
        // margin: 3px;
        // margin-bottom: px;
        position: relative;
        left: 12px;
        top: 7px;
     
    }

  .form-input{
    // border: 1px solid #0a0101;
    border-radius: 8px;
    // box-shadow: 10px 12px rgb(94, 158, 158);
    box-shadow: 2px 2px 12px #8e8282,
    -6px -6px 12px #ffffff;

    //   border-bottom: 1px solid rgb(0, 0, 0);
      padding: 5px 5px 5px 5px;
      display: block;
      margin: 7px 10px;
      width: 90%;
      font-size: 18px;
  }
  .user-profile-edit{
      display:flex;
      cursor: pointer;
    font-size: 30px;
      justify-content:flex-end;
    text-decoration: none;
      width: 20px;
    margin: 10px;
    color: black;
      
  }

  .edit-save-user{
      display: flex;
      flex-direction:row-reverse;
    
    }


}